.editor {
  position: relative;
  min-width: 256px;
  max-height: inherit;
  height: 100%;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  padding: 0 8px;
  user-select: none;
  height: 2rem;
}

.marker {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 2px;
  top: 36px;
  left: 4px;
  color: #666;
}

.body {
  padding: 24px 0 0 0.5em;
  background-color: #eee;
  border-radius: 0.5rem;
  height: calc(100% - 56px);
  overflow: hidden;
}

.wrapper {
  display: flex;
  font-size: 14px;
  height: 100%;
  overflow-y: auto;
  border-radius: 0.5rem;
  padding-bottom: 0.5em;
}

.numeration {
  width: auto;
  height: fit-content;
  text-align: end;
  line-height: normal;
  padding-right: 0.25rem;
  margin: 0 0.5rem 0 0;
  user-select: none;
  font-family: 'Roboto Mono';
  font-size: inherit;
  border-right: 1px solid #666;
}

.inputWrapper {
  display: grid;
  font-size: inherit;
  line-height: normal;
}
.inputWrapper::after {
  content: attr(data-replicated-value) ' ';
  white-space: pre;
  visibility: hidden;
}
.inputWrapper > textarea {
  resize: none;
  overflow: hidden;
  &:disabled {
    color: rgba(0, 0, 0, 0.87);
  }
}
.inputWrapper > textarea,
.inputWrapper::after {
  border: none;
  outline: none;
  padding: 0;
  font-family: 'Roboto Mono';
  font-size: inherit;
  background-color: #eee;
  grid-area: 1 / 1 / 2 / 2;
}

.helper {
  height: 1.5rem;
}
