.historyLink {
  display: flex;
  margin-bottom: 16px;
  text-decoration: none;
}
.historyLink:hover {
  transition: all 0.3s ease;
  opacity: 0.7;
}
.historyLinkMethod {
  margin: 0 16px 0 0;
  color: #1976d2;
  font-weight: 700;
}
.historyLinkEndpoint {
  margin: 0;
  color: #000000;
}
